.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-navbar-custom);
  color: #fff;
  padding: 1rem;
  height: 80px;
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: background-color 0.3s ease;
}

.navbar-transparent {
  background-color: #6a2634ee;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-logo {
  height: auto;
  max-height: 120px;
  margin-right: 0.5rem;
}

.navbar-right {
  text-align: right;
}

.navbar-link {
  color: #fff;
  text-decoration: none;
  padding: 1rem;
  font-size: 17px;
}

.navbar-text {
  margin-left: -1.5rem;
}

.navbar-link:hover {
  text-decoration: none;
}

@media (max-width: 768px) {
  .navbar-logo {
    max-height: 80px;
  }

  .navbar-link {
    font-size: 12px;
  }
}
